body{
    background-color: #d9d9d9;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color: #cc3300;
    font-size: 30px;
}
button:hover{
    background-color: #ffffcc;
}
button:active{
    background-color: #ffcc66;
}
.title{
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 35px;
}
.calc-shell{
    background-color: grey;
    display: flex;
    width: 350px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-color: #cc3300;
    border-style: solid;
}
.calc-screen{
    padding-right: 10px;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 55px;
    border-radius: 10px;
    flex-direction: column;
    border-color: #cc3300;
    border-style: solid;
}
.calc-screen-q{
    font-style: italic;
}
.calc-screen-ans{
    font-weight: bold;
    font-size: 25px;
}
.calc-pad{
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.zero{
    width: 144px;
}
.C, .AC{
    background-color: #00ccff;
}
.negative, .divide, .times, .minus, .add, .eq{
    background-color: #9999ff;
}
